.main__video {
  position: relative;
  padding-top: 5px;
  display: flex;
  flex-basis: 100%;
}
.main__video-image {
  max-width: 100%;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  
}
.main__video-play {
  cursor: pointer;
  position: absolute;
  /* z-index: 9; */
  left: 45%;
  top: 45%;
}
